In [59]:
import numpy as np
import pandas as pd

meload dataset sepak bola bernama results

In [60]:
fb = pd.read_csv('datasets/results.csv')

In [61]:
fb.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [62]:
fb.describe()

         home_score    away_score
count  41586.000000  41586.000000
mean       1.745756      1.187587
std        1.753780      1.405323
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

mengecek apakah ada missing value dan informasi lainnya

In [63]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41586 entries, 0 to 41585
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        41586 non-null  object
 1   home_team   41586 non-null  object
 2   away_team   41586 non-null  object
 3   home_score  41586 non-null  int64
 4   away_score  41586 non-null  int64
 5   tournament  41586 non-null  object
 6   city        41586 non-null  object
 7   country     41586 non-null  object
 8   neutral     41586 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.6+ MB

melihat seberapa banyak jumlah turnamen

In [64]:
fb["tournament"].nunique()

112

In [65]:
pd.set_option('display.max_rows', fb.shape[0]+1)

In [66]:
fb["tournament"].value_counts()

Friendly                                      17029
FIFA World Cup qualification                   7236
UEFA Euro qualification                        2582
African Cup of Nations qualification           1672
FIFA World Cup                                  900
Copa Am√©rica                                    813
AFC Asian Cup qualification                     724
African Cup of Nations                          690
CECAFA Cup                                      620
CFU Caribbean Cup qualification                 606
British Championship                            505
Merdeka Tournament                              503
Gulf Cup                                        380
AFC Asian Cup                                   370
Island Games                                    350
Gold Cup                                        327
AFF Championship                                293
COSAFA Cup                                      292
UEFA Euro                                       286
Nordic Championship                             283
African Nations Championship                    264
CFU Caribbean Cup                               251
Am√≠lcar Cabral Cup                              235
King's Cup                                      234
South Pacific Games                             205
UNCAF Cup                                       164
Korea Cup                                       159
UEFA Nations League                             142
Confederations Cup                              140
SAFF Cup                                        136
International Cup                               127
CCCF Championship                               123
EAFF Championship                               122
UAFA Cup                                        122
CONCACAF Nations League                         102
Oceania Nations Cup                             101
Windward Islands Tournament                     101
CONIFA World Football Cup                       101
AFC Challenge Cup                               100
WAFF Championship                                97
AFC Challenge Cup qualification                  92
Nehru Cup                                        89
Baltic Cup                                       87
Balkan Cup                                       87
Indonesia Tournament                             75
Cyprus International Tournament                  70
Oceania Nations Cup qualification                70
Kirin Cup                                        69
CONCACAF Nations League qualification            68
UDEAC Cup                                        65
African Nations Championship qualification       64
Vietnam Independence Cup                         60
Viva World Cup                                   56
Gold Cup qualification                           56
West African Cup                                 54
Malta International Tournament                   53
Pacific Games                                    51
CONIFA European Football Cup                     49
CONCACAF Championship                            49
Pan American Championship                        39
Brazil Independence Cup                          37
USA Cup                                          37
United Arab Emirates Friendship Tournament       31
Copa Chevallier Boutell                          29
Dynasty Cup                                      29
Copa Lipton                                      28
Copa Newton                                      26
Merlion Cup                                      25
Lunar New Year Cup                               25
Copa Roca                                        23
Copa Paz del Chaco                               23
Prime Minister's Cup                             22
CONCACAF Championship qualification              21
ABCS Tournament                                  20
Inter Games Football Tournament                  19
Copa del Pac√≠fico                                19
Copa Rio Branco                                  18
Simba Tournament                                 17
Copa Oswaldo Cruz                                16
Copa Carlos Dittborn                             16
ELF Cup                                          16
Copa Juan Pinto Dur√°n                            16
Copa Premio Honor Uruguayo                       15
Dunhill Cup                                      15
UNIFFAC Cup                                      15
Millennium Cup                                   15
GaNEFo                                           14
Intercontinental Cup                             14
Nile Basin Tournament                            14
Jordan International Tournament                  13
Copa Artigas                                     13
Copa Premio Honor Argentino                      12
King Hassan II Tournament                        12
Rous Cup                                         11
Atlantic Cup                                     11
SKN Football Festival                            11
Copa Bernardo O'Higgins                          10
Tournoi de France                                10
FIFI Wild Cup                                    10
VFF Cup                                           9
UAFA Cup qualification                            9
NAFU Championship                                 7
Mundialito                                        7
Nations Cup                                       6
Copa F√©lix Bogado                                 6
Copa Ram√≥n Castilla                               6
OSN Cup                                           4
World Unity Cup                                   4
Dragon Cup                                        4
Atlantic Heritage Cup                             2
Copa Am√©rica qualification                        2
AFF Championship qualification                    2
Name: tournament, dtype: int64

In [67]:
pd.set_option('display.max_rows', 100)

melihat berapa banyak negara

In [72]:
fb["country"].nunique()

266

In [70]:
fb["country"].value_counts()

United States          1159
France                  806
England                 696
Malaysia                652
Sweden                  640
                       ...
Micronesia                1
Bohemia and Moravia       1
Mali Federation           1
Portuguese Guinea         1
Belgian Congo             1
Name: country, Length: 266, dtype: int64